
<div class="colmask threecol">
  <div class="colmid">
    <div class="colleft">
      <div class="col1">1</div>
      <div class="col2">2</div>
      <div class="col3"><%= image_tag 'pandacover_thumb.jpg', :alt=>'panda book cover' %></div>
    </div>
  </div>
</div>

